body {
    background-color: #52616b;
    margin: 0;
    text-align: center;
    padding: 0px;
}
.container {
    background-color: #c9d6df;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50%;
    padding: 70px 0;
    border: 3px solid green;
    text-align: center;
}
#author{
    font-size: 2em;
    font-weight: bolder;

}
#btn {
    padding: 10px;
    background-color: #6c757d;
    border-color: #6c757d;
    border-radius: .25rem;
    font-size: 18px;
}